*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Open Sans';
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    margin-top: 40px;
    
}
.header{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.9em;
}

.header-profile{
    height: 150px;
    width: 150px;
    background-color: aqua;
    display: flex;
    flex-direction: column; 
    justify-content: start;
    align-items: center;
    border-radius: 50%;
    border: 2px solid purple;
    margin-bottom: 0.75em;
    overflow: hidden;
    background-image: url('assets/profile.png'); 
    background-size: cover; 
    background-position: center; 
}
.header-profile img {
    display:none;

}

.header-bio{

}

.header-bio h2{
    margin-bottom: 0.75em;
    font-size:30px;
}

.header-bio p{
   font-size: 15px;
}

a{
    text-decoration: none;
}
button{
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    border:0;
    padding:12px 10px;
    outline:none;
    color:#fff;
    background: #f31d0d;
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
    margin-bottom: 10px;
}
.github{
    background-color: black;
}

button .logo{
    width: 30px;
}
button .arrow{
    width: 30px;
    display: none;
}
button:hover .arrow{
display: block;
}
button:hover{
    width:160px;
    display :flex;
    align-items: center;
    justify-content:space-between;
}

.linkedin{
    background: blue;
}

.ig{
background-color: orangered;
}

.x{
background-color: indigo;
}

@media only screen and (max-width: 700px){

    .header-bio p{
        font-size: 15px;
        margin: 20px;
        text-align: center;
     }

     button{
        width:180px;
     }
     button:hover{
        width: 200px;
     }

}